.kre-navigation {
  .router-link-active {
    $active-color: #000;
    background-color: rgb(209 213 219);
    color: $active-color;
    font-weight: 600;
    pointer-events: none;

    svg {
      color: $active-color;
    }
  }
}
